In [2]:
import polyline
import pandas as pd

In [54]:
df = pd.read_csv('trip_integrated.csv')
df.head()

,Unnamed: 0,start station id,end station id,count,avg_duration,ori_lat,ori_lng,des_lat,des_lng,line,estimate
0,0,72,150,8,1914.375000,40.767272,-73.993929,40.720874,-73.980858,ejywFf}rbM`GgRnFwPxBzAzFtDzB~A~BtA|BxAvJrG|F|D...,29 mins
1,1,72,164,15,1116.866667,40.767272,-73.993929,40.753231,-73.970325,ejywFf}rbMd[}aAzDxBbEbCv@XlAj@ZcAjE}M`GiRj@eB^...,14 mins
2,2,72,167,13,1218.692308,40.767272,-73.993929,40.748901,-73.976049,ejywFf}rbMd[}aAzDxBbEbCv@XlAj@ZcAjE}M`GiRj@eB^...,17 mins
3,3,72,168,85,1182.764706,40.767272,-73.993929,40.739713,-73.994564,ejywFf}rbM`GgRnFwPxBzAzFtDzB~A~BtA|BxAvJrG|F|D...,17 mins
4,4,72,173,401,534.299252,40.767272,-73.993929,40.760683,-73.984527,ejywFf}rbMd[}aAzDxBbEbCRH,6 mins

In [55]:
def decode(x):
    return (polyline.decode(x['line']))
            
df['polyline'] = df.apply(decode, axis=1)

In [56]:
df.head()

,Unnamed: 0,start station id,end station id,count,avg_duration,ori_lat,ori_lng,des_lat,des_lng,line,estimate,polyline
0,0,72,150,8,1914.375000,40.767272,-73.993929,40.720874,-73.980858,ejywFf}rbM`GgRnFwPxBzAzFtDzB~A~BtA|BxAvJrG|F|D...,29 mins,"[(40.76723, -73.99396), (40.76594, -73.99088),..."
1,1,72,164,15,1116.866667,40.767272,-73.993929,40.753231,-73.970325,ejywFf}rbMd[}aAzDxBbEbCv@XlAj@ZcAjE}M`GiRj@eB^...,14 mins,"[(40.76723, -73.99396), (40.76272, -73.98325),..."
2,2,72,167,13,1218.692308,40.767272,-73.993929,40.748901,-73.976049,ejywFf}rbMd[}aAzDxBbEbCv@XlAj@ZcAjE}M`GiRj@eB^...,17 mins,"[(40.76723, -73.99396), (40.76272, -73.98325),..."
3,3,72,168,85,1182.764706,40.767272,-73.993929,40.739713,-73.994564,ejywFf}rbM`GgRnFwPxBzAzFtDzB~A~BtA|BxAvJrG|F|D...,17 mins,"[(40.76723, -73.99396), (40.76594, -73.99088),..."
4,4,72,173,401,534.299252,40.767272,-73.993929,40.760683,-73.984527,ejywFf}rbMd[}aAzDxBbEbCRH,6 mins,"[(40.76723, -73.99396), (40.76272, -73.98325),..."