In [1]:
import pandas as pd
import numpy as np
import os

In [3]:
trip = pd.read_csv(os.getenv('PUIDATA') + '/' + 'trip_1_calculated.csv').drop(['Unnamed: 0'], axis=1)
print(trip.shape)
trip.head()

(10001, 10)

,start station id,end station id,count,avg_duration,ori_lat,ori_lng,des_lat,des_lng,line,estimate
0,72,150,8,1914.375000,40.767272,-73.993929,40.720874,-73.980858,ejywFf}rbM`GgRnFwPxBzAzFtDzB~A~BtA|BxAvJrG|F|D...,29 mins
1,72,164,15,1116.866667,40.767272,-73.993929,40.753231,-73.970325,ejywFf}rbMd[}aAzDxBbEbCv@XlAj@ZcAjE}M`GiRj@eB^...,14 mins
2,72,167,13,1218.692308,40.767272,-73.993929,40.748901,-73.976049,ejywFf}rbMd[}aAzDxBbEbCv@XlAj@ZcAjE}M`GiRj@eB^...,17 mins
3,72,168,85,1182.764706,40.767272,-73.993929,40.739713,-73.994564,ejywFf}rbM`GgRnFwPxBzAzFtDzB~A~BtA|BxAvJrG|F|D...,17 mins
4,72,173,401,534.299252,40.767272,-73.993929,40.760683,-73.984527,ejywFf}rbMd[}aAzDxBbEbCRH,6 mins

temp = pd.read_csv(os.getenv('PUIDATA') + '/' + 'trip_2_calculated.csv').drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)
print(trip.shape)
temp.head()

trip = trip.append(temp)
print(trip.shape)
trip.head()

In [4]:
for i in range(17-1):
    print(os.getenv('PUIDATA') + '/' + 'trip_%0.f'%(i+2) + '_calculated.cvs')

/nfshome/jc9033/PUIdata/trip_2_calculated.cvs
/nfshome/jc9033/PUIdata/trip_3_calculated.cvs
/nfshome/jc9033/PUIdata/trip_4_calculated.cvs
/nfshome/jc9033/PUIdata/trip_5_calculated.cvs
/nfshome/jc9033/PUIdata/trip_6_calculated.cvs
/nfshome/jc9033/PUIdata/trip_7_calculated.cvs
/nfshome/jc9033/PUIdata/trip_8_calculated.cvs
/nfshome/jc9033/PUIdata/trip_9_calculated.cvs
/nfshome/jc9033/PUIdata/trip_10_calculated.cvs
/nfshome/jc9033/PUIdata/trip_11_calculated.cvs
/nfshome/jc9033/PUIdata/trip_12_calculated.cvs
/nfshome/jc9033/PUIdata/trip_13_calculated.cvs
/nfshome/jc9033/PUIdata/trip_14_calculated.cvs
/nfshome/jc9033/PUIdata/trip_15_calculated.cvs
/nfshome/jc9033/PUIdata/trip_16_calculated.cvs
/nfshome/jc9033/PUIdata/trip_17_calculated.cvs

In [5]:
for i in range(17-1):
    temp = pd.read_csv(os.getenv('PUIDATA') + '/' + 'trip_%0.f'%(i+2) + '_calculated.csv').drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)
    trip = trip.append(temp)
    print(i+2)
    print('lenth: %0.f'%temp.shape[0])
    print()

2
lenth: 2000

3
lenth: 3000

4
lenth: 999

5
lenth: 4001

6
lenth: 5001

7
lenth: 5000

8
lenth: 5000

9
lenth: 5000

10
lenth: 5000

11
lenth: 5000

12
lenth: 5000

13
lenth: 5000

14
lenth: 5000

15
lenth: 5000

16
lenth: 5000

17
lenth: 18392

In [6]:
print(trip.shape)
trip.head()

(93394, 10)

,start station id,end station id,count,avg_duration,ori_lat,ori_lng,des_lat,des_lng,line,estimate
0,72,150,8.0,1914.375000,40.767272,-73.993929,40.720874,-73.9809,ejywFf}rbM`GgRnFwPxBzAzFtDzB~A~BtA|BxAvJrG|F|D...,29 mins
1,72,164,15.0,1116.866667,40.767272,-73.993929,40.753231,-73.9703,ejywFf}rbMd[}aAzDxBbEbCv@XlAj@ZcAjE}M`GiRj@eB^...,14 mins
2,72,167,13.0,1218.692308,40.767272,-73.993929,40.748901,-73.976,ejywFf}rbMd[}aAzDxBbEbCv@XlAj@ZcAjE}M`GiRj@eB^...,17 mins
3,72,168,85.0,1182.764706,40.767272,-73.993929,40.739713,-73.9946,ejywFf}rbM`GgRnFwPxBzAzFtDzB~A~BtA|BxAvJrG|F|D...,17 mins
4,72,173,401.0,534.299252,40.767272,-73.993929,40.760683,-73.9845,ejywFf}rbMd[}aAzDxBbEbCRH,6 mins

In [7]:
%mkdir Output

mkdir: cannot create directory ‘Output’: File exists

In [8]:
path='Output/trip_integrated.csv'
trip.to_csv(path)